<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos en Tiempo Real</title>
</head>
<body>
    
    <h1>Lista de Productos en Tiempo Real</h1>

   <h2>Agregar Producto</h2>
    <form id="add-product-form">
        <div>
        <label for="title">Título:</label>
        <input type="text" id="input-title" name="title" required><br>
        </div>

        <div>
            <p id="title-product"></p>
        </div>
    </form>
</body>

<script src="/socket.io/socket.io.js">

    const socket = io();
    const productsList = document.getElementById('input-tittle')

    productsList.addListener('keyup', evento =>{
        if (evento.key === 'Enter') {
            if (productsList.value.trim().lenght > 0) {
                socket.emit('Lista de Productos', {productsList: productsList.value})
                productsList.value = '';
            }
        }
    })

    socket.on('productLogs', data => {
        const log = document.getElementById('title-product');
        const ListProducts = '';
        data.forEach(ListProduct => {
            ListProducts = ListProducts.ListProduct + 'Producto agregados: <br>'
        })
        log.innerHTML = ListProducts;
    })

</script>
<script src="/src/public/index.js"></script>

</html>